In [42]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

In [23]:
face_embeddings = pd.read_pickle('faces_embeddings.pkl')

In [24]:
face_embeddings.head()

,file,name,embeddings,complete_url
0,Martin_Boryczewski_0001.jpg,Martin_Boryczewski,"[0.0, 1.6660573, 0.0, 0.0, 0.0, 0.0, 2.9247637...",dataset/Martin_Boryczewski/Martin_Boryczewski_...
1,Bobby_Jackson_0001.jpg,Bobby_Jackson,"[0.0, 0.47519812, 2.0513406, 5.2823005, 0.9486...",dataset/Bobby_Jackson/Bobby_Jackson_0001.jpg
2,Sven_Ottke_0001.jpg,Sven_Ottke,"[0.0, 0.038900744, 0.0, 4.4667716, 0.42058718,...",dataset/Sven_Ottke/Sven_Ottke_0001.jpg
3,Alan_Zemaitis_0001.jpg,Alan_Zemaitis,"[0.0, 3.5332255, 8.2842455, 0.0, 0.12660573, 1...",dataset/Alan_Zemaitis/Alan_Zemaitis_0001.jpg
4,Ashraf_Alasmar_0001.jpg,Ashraf_Alasmar,"[0.0, 0.0, 0.02146301, 0.0, 0.017755207, 0.0, ...",dataset/Ashraf_Alasmar/Ashraf_Alasmar_0001.jpg

In [25]:
people = ['Vladimir_Putin', 'Luiz_Inacio_Lula_da_Silva', 'Arnold_Schwarzenegger']

In [26]:
sample = face_embeddings.loc[face_embeddings['name'].isin(people)]

In [32]:
features = pd.DataFrame(sample['embeddings'].values.tolist(), index = sample.index)

In [33]:
features.head()

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
291,0.007002,0.362790,0.201460,0.000000,0.000000,0.522367,0.044118,0.0,2.112407,8.072944,...,0.000000,0.000000,3.156688,11.793030,2.342151,0.709308,0.015310,0.0,7.532262,0.084100
292,0.081950,0.000000,0.001024,0.032101,0.258472,0.067465,0.000683,0.0,1.689882,12.112955,...,0.007222,0.000000,0.000000,11.230347,3.352561,1.768222,0.081707,0.0,6.187569,0.061673
293,0.000000,0.474231,0.068376,0.000000,0.000000,0.342294,0.000000,0.0,1.357089,6.917535,...,0.015549,0.000000,3.084498,10.259319,1.184812,2.911998,0.000000,0.0,8.277770,0.000000
294,0.000000,1.021055,0.655525,0.000000,0.010457,0.051164,0.038163,0.0,0.000000,5.830760,...,0.229831,0.116413,2.048734,9.897505,3.665378,0.735009,0.021296,0.0,3.114635,0.029181
295,0.017310,0.265392,0.496930,0.000000,0.000000,0.761715,0.000000,0.0,0.656949,7.131641,...,0.000000,0.034284,0.179134,11.280205,1.743051,3.791251,0.052861,0.0,7.042139,0.005638

## Scaling

In [43]:
scaler = MinMaxScaler()

features_scaled = scaler.fit_transform(features)

## Clustering

In [77]:
kmeans = KMeans(n_clusters=5)

In [78]:
kmeans.fit(features_scaled)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [79]:
features['Cluster'] = -1

In [80]:
for i in range(len(features_scaled)):
    x = features_scaled[i].reshape(1, -1)
    
    pred = kmeans.predict(x)
    
    features.iloc[i,-2] = pred

In [81]:
features.head()

,0,1,2,3,4,5,6,7,8,9,...,2040,2041,2042,2043,2044,2045,2046,2047,Cluster,name
291,0.007002,0.362790,0.201460,0.000000,0.000000,0.522367,0.044118,0.0,2.112407,8.072944,...,3.156688,11.793030,2.342151,0.709308,0.015310,0.0,7.532262,0.084100,0,Luiz_Inacio_Lula_da_Silva
292,0.081950,0.000000,0.001024,0.032101,0.258472,0.067465,0.000683,0.0,1.689882,12.112955,...,0.000000,11.230347,3.352561,1.768222,0.081707,0.0,6.187569,0.061673,1,Luiz_Inacio_Lula_da_Silva
293,0.000000,0.474231,0.068376,0.000000,0.000000,0.342294,0.000000,0.0,1.357089,6.917535,...,3.084498,10.259319,1.184812,2.911998,0.000000,0.0,8.277770,0.000000,1,Luiz_Inacio_Lula_da_Silva
294,0.000000,1.021055,0.655525,0.000000,0.010457,0.051164,0.038163,0.0,0.000000,5.830760,...,2.048734,9.897505,3.665378,0.735009,0.021296,0.0,3.114635,0.029181,0,Luiz_Inacio_Lula_da_Silva
295,0.017310,0.265392,0.496930,0.000000,0.000000,0.761715,0.000000,0.0,0.656949,7.131641,...,0.179134,11.280205,1.743051,3.791251,0.052861,0.0,7.042139,0.005638,1,Luiz_Inacio_Lula_da_Silva

In [82]:
features['name'] = face_embeddings['name']

In [83]:
features.loc[features['name'] == people[0]][['Cluster', 'name']]

       Cluster            name
11042        2  Vladimir_Putin
11043        2  Vladimir_Putin
11044        2  Vladimir_Putin
11045        2  Vladimir_Putin
11046        2  Vladimir_Putin
11047        2  Vladimir_Putin
11048        2  Vladimir_Putin
11049        2  Vladimir_Putin
11050        2  Vladimir_Putin
11051        2  Vladimir_Putin
11052        2  Vladimir_Putin
11053        2  Vladimir_Putin
11054        2  Vladimir_Putin
11055        2  Vladimir_Putin
11056        2  Vladimir_Putin
11057        2  Vladimir_Putin
11058        2  Vladimir_Putin
11059        2  Vladimir_Putin
11060        2  Vladimir_Putin
11061        2  Vladimir_Putin
11062        2  Vladimir_Putin
11063        2  Vladimir_Putin
11064        2  Vladimir_Putin
11065        2  Vladimir_Putin
11066        2  Vladimir_Putin
11067        2  Vladimir_Putin
11068        2  Vladimir_Putin
11069        2  Vladimir_Putin
11070        2  Vladimir_Putin
11071        2  Vladimir_Putin
11072        2  Vladimir_Putin
11073        2  Vladimir_Putin
11074        2  Vladimir_Putin
11075        2  Vladimir_Putin
11076        2  Vladimir_Putin
11077        2  Vladimir_Putin
11078        2  Vladimir_Putin
11079        2  Vladimir_Putin
11080        2  Vladimir_Putin
11081        2  Vladimir_Putin
11082        2  Vladimir_Putin
11083        2  Vladimir_Putin
11084        2  Vladimir_Putin
11085        2  Vladimir_Putin
11086        2  Vladimir_Putin
11087        2  Vladimir_Putin
11088        2  Vladimir_Putin
11089        2  Vladimir_Putin
11090        2  Vladimir_Putin

In [84]:
features.loc[features['name'] == people[1]][['Cluster', 'name']]

     Cluster                       name
291        0  Luiz_Inacio_Lula_da_Silva
292        1  Luiz_Inacio_Lula_da_Silva
293        1  Luiz_Inacio_Lula_da_Silva
294        0  Luiz_Inacio_Lula_da_Silva
295        1  Luiz_Inacio_Lula_da_Silva
296        1  Luiz_Inacio_Lula_da_Silva
297        1  Luiz_Inacio_Lula_da_Silva
298        0  Luiz_Inacio_Lula_da_Silva
299        1  Luiz_Inacio_Lula_da_Silva
300        0  Luiz_Inacio_Lula_da_Silva
301        0  Luiz_Inacio_Lula_da_Silva
302        0  Luiz_Inacio_Lula_da_Silva
303        0  Luiz_Inacio_Lula_da_Silva
304        1  Luiz_Inacio_Lula_da_Silva
305        1  Luiz_Inacio_Lula_da_Silva
306        0  Luiz_Inacio_Lula_da_Silva
307        1  Luiz_Inacio_Lula_da_Silva
308        0  Luiz_Inacio_Lula_da_Silva
309        1  Luiz_Inacio_Lula_da_Silva
310        1  Luiz_Inacio_Lula_da_Silva
311        0  Luiz_Inacio_Lula_da_Silva
312        0  Luiz_Inacio_Lula_da_Silva
313        1  Luiz_Inacio_Lula_da_Silva
314        0  Luiz_Inacio_Lula_da_Silva
315        1  Luiz_Inacio_Lula_da_Silva
316        1  Luiz_Inacio_Lula_da_Silva
317        1  Luiz_Inacio_Lula_da_Silva
318        1  Luiz_Inacio_Lula_da_Silva
319        0  Luiz_Inacio_Lula_da_Silva
320        0  Luiz_Inacio_Lula_da_Silva
321        0  Luiz_Inacio_Lula_da_Silva
322        0  Luiz_Inacio_Lula_da_Silva
323        0  Luiz_Inacio_Lula_da_Silva
324        1  Luiz_Inacio_Lula_da_Silva
325        0  Luiz_Inacio_Lula_da_Silva
326        0  Luiz_Inacio_Lula_da_Silva
327        1  Luiz_Inacio_Lula_da_Silva
328        1  Luiz_Inacio_Lula_da_Silva
329        1  Luiz_Inacio_Lula_da_Silva
330        0  Luiz_Inacio_Lula_da_Silva
331        0  Luiz_Inacio_Lula_da_Silva
332        1  Luiz_Inacio_Lula_da_Silva
333        0  Luiz_Inacio_Lula_da_Silva
334        0  Luiz_Inacio_Lula_da_Silva
335        1  Luiz_Inacio_Lula_da_Silva
336        1  Luiz_Inacio_Lula_da_Silva
337        0  Luiz_Inacio_Lula_da_Silva
338        1  Luiz_Inacio_Lula_da_Silva

In [85]:
features.loc[features['name'] == people[2]][['Cluster', 'name']]

     Cluster                   name
889        3  Arnold_Schwarzenegger
890        3  Arnold_Schwarzenegger
891        3  Arnold_Schwarzenegger
892        3  Arnold_Schwarzenegger
893        4  Arnold_Schwarzenegger
894        4  Arnold_Schwarzenegger
895        3  Arnold_Schwarzenegger
896        4  Arnold_Schwarzenegger
897        4  Arnold_Schwarzenegger
898        4  Arnold_Schwarzenegger
899        4  Arnold_Schwarzenegger
900        3  Arnold_Schwarzenegger
901        4  Arnold_Schwarzenegger
902        4  Arnold_Schwarzenegger
903        4  Arnold_Schwarzenegger
904        4  Arnold_Schwarzenegger
905        4  Arnold_Schwarzenegger
906        3  Arnold_Schwarzenegger
907        4  Arnold_Schwarzenegger
908        4  Arnold_Schwarzenegger
909        4  Arnold_Schwarzenegger
910        3  Arnold_Schwarzenegger
911        4  Arnold_Schwarzenegger
912        4  Arnold_Schwarzenegger
913        4  Arnold_Schwarzenegger
914        4  Arnold_Schwarzenegger
915        3  Arnold_Schwarzenegger
916        4  Arnold_Schwarzenegger
917        4  Arnold_Schwarzenegger
918        4  Arnold_Schwarzenegger
919        4  Arnold_Schwarzenegger
920        4  Arnold_Schwarzenegger
921        4  Arnold_Schwarzenegger
922        4  Arnold_Schwarzenegger
923        4  Arnold_Schwarzenegger
924        4  Arnold_Schwarzenegger
925        4  Arnold_Schwarzenegger
926        4  Arnold_Schwarzenegger
927        4  Arnold_Schwarzenegger
928        4  Arnold_Schwarzenegger
929        4  Arnold_Schwarzenegger
930        3  Arnold_Schwarzenegger