# General Info

dataset: LFW-People (https://www.kaggle.com/atulanandjha/lfwpeople/data)

In [12]:
import os

In [13]:
import pandas as pd

In [23]:
_, dirs,_ = next(os.walk("./dataset"))

In [24]:
folders = pd.DataFrame(dirs)

In [25]:
folders.columns = ["name"]

In [26]:
folders.head()

                 name
0  Martin_Boryczewski
1       Bobby_Jackson
2          Sven_Ottke
3       Alan_Zemaitis
4      Ashraf_Alasmar

## Picture Urls

In [28]:
folders["file"] = folders["name"].apply(lambda x: os.listdir("./dataset/"+x))

In [29]:
folders.head()

                 name                           file
0  Martin_Boryczewski  [Martin_Boryczewski_0001.jpg]
1       Bobby_Jackson       [Bobby_Jackson_0001.jpg]
2          Sven_Ottke          [Sven_Ottke_0001.jpg]
3       Alan_Zemaitis       [Alan_Zemaitis_0001.jpg]
4      Ashraf_Alasmar      [Ashraf_Alasmar_0001.jpg]

In [30]:
pictures = pd.DataFrame(folders.file.tolist(), index=folders.name).stack().reset_index(level=1, drop=True).reset_index(name='file')[['file','name']]
pictures["file"] = pictures["name"]+"/"pictures["file"]

In [31]:
pictures.head()

                          file                name
0  Martin_Boryczewski_0001.jpg  Martin_Boryczewski
1       Bobby_Jackson_0001.jpg       Bobby_Jackson
2          Sven_Ottke_0001.jpg          Sven_Ottke
3       Alan_Zemaitis_0001.jpg       Alan_Zemaitis
4      Ashraf_Alasmar_0001.jpg      Ashraf_Alasmar

In [ ]:
pictures